.editors {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.filename {
  flex: 1;
  padding-top: 6px;
  padding-bottom: 3px;
  cursor: pointer;
}

.arrow {
  font-size: 10px;
  margin-right: 8px;
}

.editor {
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.fillRemaining {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.resizeHandle {
  position: relative;
  width: 27px;
  height: 30px;
  padding-left: 15px;
  cursor: row-resize;
}

.resizeHandle:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
  margin: 5px 0 0 15px;
}

.is-disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}