<app-resize>
  <div class="editors">

    <div
      *ngFor="let file of visibleFiles">
      <app-resize
        [direction]='"vertical"'
        [collapsed]="file.collapsed"
        [disabled]="file.readonly"
        class="editor">
        <div
          *ngIf="debug && !file.readonly" (click)="loadSolution(file)"
          style="float: right">
          [load solution]
        </div>
        <div class="filename" (click)="toggleFile(file)">
          <span *ngIf="file.collapsed" class="arrow">▷</span>
          <span *ngIf="!file.collapsed" class="arrow">▽</span>
          <span class="file-{{file.type}} file">{{file.type.substr(0,2)}}</span>
          {{file.path}} {{file.readonly?' (this file is read only) ': ''}}

        </div>
        <app-editor
          class="codeSnippet"
          *ngIf="!file.collapsed"
          [file]="file"
          (onCodeChange)="onCodeChange({file: file, code: $event})">
        </app-editor>
      </app-resize>
    </div>

  </div>
</app-resize>

