<app-resize>
  <div class="tabs">
    <div
      class="tab"
      *ngFor="let file of visibleFiles"
      [class.is-active]="isOpenFile(file)"
      (click)="showFile(file)">
      {{ getFileName(file) }} {{file.readonly?' (this file is read only) ': ''}}
    </div>
  </div>

  <div *ngFor="let file of visibleFiles">
    <app-editor
      class="editor"
      [class.is-hidden]="!isOpenFile(file)"
      [file]="file"
      (onCodeChange)="onCodeChange({file: file, code: $event})">
    </app-editor>
  </div>
</app-resize>


