<div
	class="resize"
	[class.resize--vertical]="isVertical() && !disabled"
	[class.resize--disabled]="disabled"
	[ngStyle]="{
		'width': getWidth() + 'px',
		'min-height': getMinHeight() + 'px',
		'height': getHeight() + 'px'}">
	<div #content>
		<ng-content></ng-content>
	</div>
	<div
		*ngIf="!disabled"
		[class.overlay]="isMouseDown">
	</div>
	<div
		class="spacer"
		*ngIf="!disabled"
		[class.spacer--vertical]="isVertical()"
		[class.spacer--collapsed]="collapsed" >
		<div
			class="handle"
			[class.is-dragged]="isMouseDown">
		</div>
	</div>
</div>
